* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.header h2 {
  cursor: pointer;
  color: #fff;
  background-color: #828080;
  width: 100%;
  padding: 1%;
}
.books {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
  padding: 1.5%;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 1em;
}
a.caps {
  width: 45%; 
  float: left;
  text-decoration: none;
  margin: 2% 1%;
  padding: 1%;
  text-align: center;
  border: 1px solid #000;
  color: #000;
}
.verses {
  padding: 20% 5%;
}
.verses p {
  margin-bottom: 10px;
}
.container-back {
  height: 48px;
  width: 48px;
  position: fixed;
  bottom: 20px;
  left: 10px;
}
.back-icon {
  position: fixed;
  bottom: 20px;
  background-color: #fff;
  border-radius: 50%;
  left: 10px;
}