* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.header h2 {
  cursor: pointer;
  color: yellow;
  background-color: #000;
  width: 100%;
}
.books {
  display: block;
  width: 50%;
  float: left;
  text-decoration: none;
  color: #000;
  padding: 1%;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 12px;
}
.caps {
  display: block;
  width: 25%;
  float: left;
}